{# about-ua.twig #}
{% extends "base/layout.twig" %}

{% block head %}{{ parent() }}{% endblock %}

{% block title %}About Us{% endblock %}

{% block main %}
<div>
    <h2 class="center">Home > About Us</h2>
    <h1 class="center">About Us</h1>
</div>

<div>
    <p>About Us</p>
    <p>Who We Are</p>
    <p>CashOnMobi supports a growing number of companies and brands in developing</br>
     mobile advertising campaigns and strives to gain a strong and long-standing</br>
     position in the global advertisement market. We focus on helping regional</br>
     advertisers, game- and app developers, agencies, etc., to discover the most</br>
     effective way of implementing their strategies.</p>
     <p>Our company provides a gateway to a variety of media channels on all sorts of</br>
     web-based and mobile platforms. Our partners can use our most advanced</br>
     targeting, optimization and monetization techniques and ensure quick return of</br>
     investment (ROI)  for publishers and advertisers on all channels.</p>
    <button class="" ><span class="">Contact us</span></button>
</div>

<div>
    <p>Team Of Professionals</p>
    <p>CashOnMobi hires a team of devoted and hard-working technical, marketing and software development and IT</br>
    experts, who really know how to establish a long-term and trustful relationship with a potential partner. For this</br>
    reason, they use an individual approach to each customer and build business relationships based on specific</br>
    characteristics, which are different in each particular case.</p>
    <p>All this has contributed to a significant increase in CashOnMobi’s popularity, and now we can boast millions of</br>
    monthly ad impressions in the majority of regions in the world. We have done well in Europe, North America and</br>
    Asia and have joined the club of the world’s fastest growing marketing platforms.</p>
</div>

<div>
    <p>About Us</p>
    <p>Meet the Team</p>
    <div>
        <p>Alice White</p>
        <p>Chief Executive Officer</p>
    </div>
    <div>
        <p>John Galt</p>
        <p>Business Development Director</p>
    </div>
    <div>
        <p>Andrey Radkevich</p>
        <p>Chief Affiliate Manager</p>
    </div>
    <div>
        <p>Vadya Cech</p>
        <p>Chief Advertiser Manager</p>
    </div>
    <div>
        <p>Here Could Be You</p>
        <p>Account Manager</p>
    </div>
</div>
{% endblock %}

{% block footer %}{{ parent() }}{% endblock %}
