{# about-ua.twig #}
{% extends "base/layout.twig" %}

{% block head %}{{ parent() }}{% endblock %}

{% block title %}About Us!{% endblock %}

{% block main %}
<h1 class="center">Hello world!</h1>
<div class="about-us">
     <h1 class="center">Hello world!</h1>
</div>
<div class="about-us second-a">
     <h1 class="center">Hello world!</h1>
</div>
<div class="avatar"></div>
{% endblock %}

{% block footer %}{% endblock %}
