{# about-ua.twig #}
{% extends "base/layout.twig" %}

{% block head %}{{ parent() }}{% endblock %}

{% block title %}About Us{% endblock %}

{% block main %}
<div class="current-link">
    <div class="current-link-container">
            <div class="container">
                <div class="col-sm-12">
                    <div class="about-h1 text-center">Home > About Us</div>
                    <div class="about-h2 text-center">About Us</div>
                </div>
            </div>
    </div>
</div>

<div class="whoweare">
    <div class="container">
        <div class="row">
            <div class="photo col-sm-6"></div>
            <div class="text col-sm-6">
                <div class="main-h1">About Us</div>
                <div class="main-h2">Who We Are</div>
                <div class="main-p">
                CashOnMobi supports a growing number of companies and brands in developing
                mobile advertising campaigns and strives to gain a strong and long-standing
                position in the global advertisement market. We focus on helping regional
                advertisers, game- and app developers, agencies, etc., to discover the most
                effective way of implementing their strategies.</div>
                <div class="main-p">Our company provides a gateway to a variety of media channels on all sorts of
                web-based and mobile platforms. Our partners can use our most advanced
                targeting, optimization and monetization techniques and ensure quick return of
                investment (ROI)  for publishers and advertisers on all channels.</div>
                <div class="start-now"><a href="/" >Contact us</a></div>
            </div>
        </div>
    </div>

</div>

<div class="teamof">
    <div class="teamof-content">
        <div class="text">
            <div class="main-h2 text-center">Team Of Professionals</div>
            <div class="main-p text-center">CashOnMobi hires a team of devoted and hard-working technical, marketing and software development and IT experts, who really know how to establish a long-term and trustful relationship with a potential partner. For this reason, they use an individual approach to each customer and build business relationships based on specific characteristics, which are different in each particular case.</div>
            <div class="main-p text-center">All this has contributed to a significant increase in CashOnMobi’s popularity, and now we can boast millions of monthly ad impressions in the majority of regions in the world. We have done well in Europe, North America and Asia and have joined the club of the world’s fastest growing marketing platforms.</div>
        </div>

    </div>
</div>

<div class="meet-team">
    <div class="meet-team-content">
        <div class="main-h1">About Us</div>
        <div class="main-h2">Meet the Team</div>
        <div class="hexgrid">

<div class='grid'>

    <div class='grid--item'>
        <div class='img' style='background-image: url(/img/Alice-White.png)'></div>
        <div class='container'>
            <div class='desc'>
                <a href="/" class="email"></a>
                <a href="/" class="skype"></a>
                <a href="/" class="linkedln"></a>
            </div>
        </div>
        <h2>Alice White</h2>
        <div class='desc'>Chief Executive Officer</div>
    </div>

    <div class='grid--item'>
        <div class='img' style='background-image: url(/img/John-Galt.png)'></div>
        <div class='container'>
            <div class='desc'>
                <a href="/" class="email"></a>
                <a href="/" class="skype"></a>
                <a href="/" class="linkedln"></a>
            </div>
        </div>
        <h2>John Galt</h2>
        <div class='desc'>Business Development Director</div>
    </div>

    <div class='grid--item'>
        <div class='img' style='background-image: url(/img/Andrey-Radkevich.png)'></div>
        <div class='container'>
            <div class='desc'>
                <a href="/" class="email"></a>
                <a href="/" class="skype"></a>
                <a href="/" class="linkedln"></a>
            </div>
        </div>
        <h2>Andrey Radkevich</h2>
        <div class='desc'>Chief Affiliate Manager</div>
    </div>

    <div class='grid--item'>
        <div class='img' style='background-image: url(/img/Vadya-Cech.png)'></div>
        <div class='container'>
            <div class='desc'>
                <a href="/" class="email"></a>
                <a href="/" class="skype"></a>
                <a href="/" class="linkedln"></a>
            </div>
        </div>
        <h2>Vadya Cech</h2>
        <div class='desc'>Chief Advertiser Manager</div>
    </div>

    <div class='grid--item'>
        <div class='img' style='background-image: url(/img/freeposition.png)'></div>
            <div class='container'>
            <div class='desc' id="btn">
              View details
            </div>
        </div>
        <h2>Here Could Be You</h2>
        <div class='desc'>Account Manager</div>
    </div>
</div>
</div>
<div id="myModal" class="modal">
<div class="modal-content container">
    <div class="modal-header">
        <div class="col-sm-12">
            <span class="close"></span>
            <h1>Account Manager</h1>
            <h2>Office: Kiev, UA</h2>
        </div>
    </div>
    <div class="modal-body">
        <div class="col-sm-8">
            <p><span class="h3">Description:</span> CashOnMobi supports a growing number of companies and brands in developing mobile advertising campaigns and strives to gain a strong and long-standing position in the global advertisement market. We focus on helping regional advertisers, game- and app developers, agencies, etc., to discover the most effective way of implementing their strategies.</p>
            <p class="h3">Key Responsibilities:</p>
            <ul>
                <li>Responsible for all aspects of data;</li>
                <li>Search and analysis of finance information;</li>
                <li>Invoicing and payment control;</li>
                <li>Developing long-term partnerships;</li>
                <li>Negotiation.</li>
            </ul>
            <p class="h3">Requirements:</p>
            <ul>
                <li>Good English skills (both spoken and written)</li>
                <li>You are flexible in regards to working schedules and tasks;</li>
                <li>You have a customer centered mindset;</li>
                <li>You are self-organized and stress resistant;</li>
                <li>Punctuality, attention to detail;.</li>
                <li>The focus on results.</li>
            </ul>
            <p class="h3">What we offer:</p>
            <ul>
                <li>Interesting full-time job at dynamic international environment;</li>
                <li>Work for a socially responsible company;</li>
                <li>Paid vacation 24 calendar days;</li>
                <li>Paid sick leave;</li>
                <li>Comfortable office, 3 minutes walk from the metro station Poznyaki;</li>
                <li>Very friendly and supportive team!</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <div class="start-now"><a href="contacts.html" >Send CV</a></div>
        </div>
    </div>
</div>
<script>

var modal = document.getElementById('myModal');
var btn = document.getElementById("btn");
var span = document.getElementsByClassName("close")[0];

btn.onclick = function() {
    modal.style.display = "block";
}

span.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

</script>

{% endblock %}

{% block footer %}{{ parent() }}{% endblock %}
