{# advertisers.twig #}
{% extends "base/layout.twig" %}

{% block head %}{{ parent() }}{% endblock %}

{% block title %}Advertisers{% endblock %}

{% block main %}
<div>
    <h2 class="center">Home > Advertisers</h2>
    <h1 class="center">Advertisers</h1>
</div>

<div>
    <p>CashOnMobi uses advanced strategies and<br/>
    methods of streamlining your business toward potential clients</p>
    <p>Our platform provides a number of web and mobile channels for targeting app users and guarantees rapid<br/>
    sales growth and prompt return of investment (ROI). CashOnMobi creates ample ground for you<br/>
    to promote your individual CPA-based campaigns and establish a long-standing connection<br/>
    with partners from around the globe.</p>
    <button class="" ><span class="">Start now</span></button>
</div>

<div>
    <div>
        <!img>
    </div>
    <div>
        <p>Advertising</p>
        <p>Format Your Ads</p>
        <p>The platform features a variety of ad templates and a package of media<br/>
        elements, which you can use as building blocks for your campaigns and<br/>
        format them in your most preferred fashion.</p>
        <p>The platform features a variety of ad templates and a package of media<br/>
        elements, which you can use as building blocks for your campaigns and<br/>
        format them in your most preferred fashion.</p>
    </div>
</div>

<div>
    <div>
        <p>Online support</p>
        <p>Get Immediate Help</p>
        <p>The platform features a variety of ad templates and a package of media<br/>
        elements, which you can use as building blocks for your campaigns and<br/>
        format them in your most preferred fashion.</p>
        <p>The platform features a variety of ad templates and a package of media<br/>
        elements, which you can use as building blocks for your campaigns and<br/>
        format them in your most preferred fashion.</p>
    </div>
    <div>
        <!img>
    </div>
</div>
{% endblock %}

{% block footer %}{{ parent() }}{% endblock %}
