{# advertisers.twig #}
{% extends "base/layout.twig" %}

{% block head %}{{ parent() }}{% endblock %}

{% block title %}Advertisers{% endblock %}

{% block main %}

<div class="current-link">
    <div class="current-link-container">
            <div class="container">
                <div class="col-sm-12">
                    <div class="about-h1 text-center">Home > Advertisers</div>
                    <div class="about-h2 text-center">Advertisers</div>
                </div>
            </div>
    </div>
</div>

<div class="foradvertisers">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="text">
                    <div class="main-h1"><span>CashOnMobi</span> uses advanced strategies<br> and methods of <span>streamlining your business</span> toward potential clients</div>
                    <div class="main-p">Our platform provides a number of web and mobile channels for targeting app users and guarantees rapid
                        sales growth and prompt return of investment (ROI). CashOnMobi creates ample ground for you
                        to promote your individual CPA-based campaigns and establish a long-standing connection
                        with partners from around the globe.</div>
                        <div class="start-now" ><a href="#">Start now</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="formatads">
    <div class="container-sm-height">
        <div class="row-sm-height">
            <div class="col-sm-6 col-sm-height photo"></div>
            <div class="col-sm-6 col-sm-height text">
                <div class="main-h1">Advertising</div>
                <div class="main-h2">Format Your Ads</div>
                <div class="main-p">The platform features a variety of ad templates and a package of media
                    elements, which you can use as building blocks for your campaigns and format them in your most preferred fashion.
                </div>
                <div class="main-p">The platform features a variety of ad templates and a package of media
                    elements, which you can use as building blocks for your campaigns and
                    format them in your most preferred fashion.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="gethelp">
    <div class="container-sm-height">
        <div class="row-sm-height">
            <div class="col-sm-6 col-sm-height text">
                <div class="main-h1">Online support</div>
                <div class="main-h2">Get Immediate Help</div>
                <div class="main-p">The platform features a variety of ad templates and a package of media
                    elements, which you can use as building blocks for your campaigns and
                    format them in your most preferred fashion.
                </div>
                <div class="main-p">The platform features a variety of ad templates and a package of media
                    elements, which you can use as building blocks for your campaigns and
                    format them in your most preferred fashion.
                </div>
            </div>
            <div class="col-sm-6 col-sm-height photo"></div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}{{ parent() }}{% endblock %}
