{# affiliates.twig #}
{% extends "base/layout.twig" %}

{% block head %}{{ parent() }}{% endblock %}

{% block title %}Affiliates{% endblock %}

{% block main %}
<div>
    <h2 class="center">Home > Affiliates</h2>
    <h1 class="center">Affiliates</h1>
</div>

<div>
    <p>CashOnMobi uses advanced strategies and<br/>
    methods of streamlining your business toward potential clients</p>
    <p>CashonMobi uses unique and effective monetization techniques. This affiliate marketing platform has gained<br/>
    respect of a good number of brands from all over the world. lt is one of the most flexible and feature-rich<br/>
    solutions, with the help of which you can generate profit<br/>
    and create ground for further growth.</p>
    <button class="" ><span class="">Start now</span></button>
</div>

<div>
    <p>Sign Up As Affiliate</p>
    <p>CashOnMobi hires a team of devoted and hard-working technical, marketing and software<br/>
    development experts, who really know how to establish a long-term with. For this reason, they use<br/>
    an individual approach to each.</p>
    <button class="" ><span class="">Sign up now</span></button>
</div>

<div>
    <p>Features</p>
    <p>Affiliates Features</p>
    <div>
        <p>Transparent Payments</p>
        <p>Thanks to regular and never-failing statistics,<br/>
        CashOnMobi has built a concise and<br/>
        transparent payment policy</p>
    </div>
    <div>
        <p>Profit On Offers</p>
        <p>Thanks to regular and never-failing statistics,<br/>
        CashOnMobi has built a concise and<br/>
        transparent payment policy</p>
    </div>
    <div>
        <p>Attractive Design</p>
        <p>Thanks to regular and never-failing statistics,<br/>
        CashOnMobi has built a concise and<br/>
        transparent payment policy</p>
    </div>
</div>
{% endblock %}

{% block footer %}{{ parent() }}{% endblock %}
