{# affiliates.twig #}
{% extends "base/layout.twig" %}

{% block head %}{{ parent() }}{% endblock %}

{% block title %}Affiliates{% endblock %}

{% block main %}

<div class="current-link">
    <div class="current-link-container">
            <div class="container">
                <div class="col-sm-12">
                    <div class="about-h1 text-center">Home > Affiliates</div>
                    <div class="about-h2 text-center">Affiliates</div>
                </div>
            </div>
    </div>
</div>

<div class="foraffiliates">
    <div class="container container-sm-height">
        <div class="row row-sm-height">
            <div class="col-sm-6 col-sm-height photo"></div>
            <div class="col-sm-6 col-sm-height text">
                <div class="main-h1">What we offer</div>
                <div class="main-h2">For Affiliates</div>
                <div class="main-p">CashOnMobi uses unique and effective monetization techniques. This affiliate marketing platform has gained respect of a good number of brands from all over the world. 
                    It is one of the most flexible and feature-rich solutions, with the help of which you can 
                    generate profit and create ground for further growth.
                </div>
                <div class="start-now">
                    <a href="/" class="">Start now</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="affsignup">
    <div class="signup-content">
        <div class="text">
            <div class="main-h2 text-center">Sign Up As Affiliate</div>
            <div class="main-p text-center">CashOnMobi hires a team of devoted and hard-working technical, marketing and software
                development experts, who really know how to establish a long-term with. For this reason, they use
                an individual approach to each.
            </div>
            <div class="start-now">
                <a href="/" class="">Sign up now</a>
            </div>
        </div>
    </div>
</div>

<div class="affeatures">
    <div class="container">
        <div class="main-h1">Features</div>
        <div class="main-h2">Affiliates Features</div>
        <div class="col-sm-6 col-md-4">
            <div class="aff-item">
                <a href="/" style='background-image: url(/img/affiliates-feature-1.svg)'>
                    <h1>Transparent Payments</h1>
                    <p>Thanks to regular and never-failing statistics, CashOnMobi has built a concise and transparent payment policy</p>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="aff-item">
                <a href="/" style='background-image: url(/img/affiliates-feature-2.svg)'>
                    <h1>Profit On Offers</h1>
                    <p>Thanks to regular and never-failing statistics, CashOnMobi has built a concise and transparent payment policy</p>
                </a>
            </div>
        </div>
        <div class="col-sm-offset-2 col-sm-6 col-md-4">
            <div class="aff-item">
                <a href="/" style='background-image: url(/img/affiliates-feature-3.svg)'>
                    <h1>Attractive Design</h1>
                    <p>Thanks to regular and never-failing statistics, CashOnMobi has built a concise and transparent payment policy</p>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}{{ parent() }}{% endblock %}
