{# contacts.twig #}
{% extends "base/layout.twig" %}

{% block head %}{{ parent() }}{% endblock %}

{% block title %}Contacts{% endblock %}

{% block main %}

<div class="current-link">
    <div class="current-link-container">
            <div class="container">
                <div class="col-sm-12">
                    <div class="about-h1 text-center">Home > Contacts</div>
                    <div class="about-h2 text-center">Contacts</div>
                </div>
            </div>
    </div>
</div>


<div class="contacts">
   <div class="container">
            <div class="col-sm-12 col-md-4">
                <div class="main-h2 text-left">Contact Us!</div>
                <div class="main-p text-left">
                    <span class="fa fa-map-marker"></span>
                    <p>Address: 350 Fifth Avenue, 34th floor <br/>New York, NY 10118-3299 USA</p>
                </div>
                <div class="main-p text-left">
                    <span class="fa fa-phone"></span>
                    <p><a href="tel:+0-800-234-5689">800-234-5689</a></p>
                </div>
                <div class="main-p text-left">
                    <span class="fa fa-envelope-o"></span>
                    <p><a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
                </div>
                <div class="social">
                    <a href="/" class=""><span class="fa fa-linkedin"></span></a>
                    <a href="/" class=""><span class="fa fa-instagram"></span></a>
                    <a href="/" class=""><span class="fa fa-twitter"></span></a>
                    <a href="/" class=""><span class="fa fa-facebook"></span></a>
                    <a href="/" class=""><span class="fa fa-google-plus"></span></a>
                </div>
            </div>
            <div class="col-sm-12 col-md-8">
                <div class="main-h2 text-left">Your Message</div>
                <form action="#">
                    <div class="col-sm-6">
                        <input type="text" name="name" placeholder="Your name">
                        <input type="text" name="skype" placeholder="Your skype">
                        <input type="text" name="email" placeholder="Your e-mail">
                    </div>
                    <div class="col-sm-6">
                        <textarea rows="4" name="message" placeholder="Your message"></textarea>
                    </div>
                    <div class="col-sm-12 contacts-submit">
                            <input type="submit" value="Send Message" class="send" onClick="document.getElementById('myModal').style.display = 'block';return false;">
                    </div>
                </form>
            </div>

     </div>
</div>

<div id="myModal" class="modal">
    <div class="modal-content thankyou__container">
        <div class="modal-header">
            <span class="close"></span>
        </div>
        <div class="modal-body">
            <div class="thankyou__block">
                <div class="thankyou__img"></div>
                <div class="thankyou__title">Thank You!</div>
                <div class="thankyou__text">
                    <p>We appreciate that you’ve taken the time to write us.</p>
                    <p>We’ll get back to you very soon.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

var modal = document.getElementById('myModal');
var span = document.getElementsByClassName("close")[0];

span.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

</script>

{% endblock %}

{% block footer %}{{ parent() }}{% endblock %}
