{# contacts.twig #}
{% extends "base/layout.twig" %}

{% block head %}{{ parent() }}{% endblock %}

{% block title %}Contacts{% endblock %}

{% block main %}

<div class="current-link">
    <div class="current-link-container">
            <div class="container">
                <div class="col-sm-12">
                    <div class="about-h1 text-center">Home > Contacts</div>
                    <div class="about-h2 text-center">Contacts</div>
                </div>
            </div>
    </div>
</div>


<div class="contacts">
   <div class="container">
        <div class="col-sm-4"><div class="main-h2 text-left">Contact Us!</div></div>
        <div class="col-sm-4"><div class="main-h2 text-left">Your Message</div></div>
        <div class="col-sm-4"></div>
   </div>
   <div class="container">
            <div class="col-sm-4">
                <div class="main-p text-left">
                    <span class="fa fa-map-marker"></span>
                    <p>Address: 350 Fifth Avenue, 34th floor<br/>New York, NY 10118-3299 USA</p>
                </div>
                <div class="main-p text-left">
                    <span class="fa fa-phone"></span>
                    <p>800-234-5689</p>
                </div>
                <div class="main-p text-left">
                    <span class="fa fa-envelope-o"></span>
                    <p>info@yoursite.com</p>
                </div>
                <div class="social">
                    <a href="/" class=""><span class="fa fa-linkedin"></span></a>
                    <a href="/" class=""><span class="fa fa-instagram"></span></a>
                    <a href="/" class=""><span class="fa fa-twitter"></span></a>
                    <a href="/" class=""><span class="fa fa-facebook"></span></a>
                    <a href="/" class=""><span class="fa fa-google-plus"></span></a>
                </div>
            </div>
            <form action="#">
                <div class="col-sm-4">
                    <input type="text" name="name" placeholder="Your name">
                    <input type="text" name="skype" placeholder="Your skype">
                    <input type="text" name="email" placeholder="Your e-mail">
                </div>
                <div class="col-sm-4">
                    <textarea rows="4" name="message" placeholder="Your message"></textarea>
                </div>
                <div class="col-sm-12 text-right">
					    <input type="submit" value="Send Message" class="send">
                </div>
            </form>
     </div>
</div>


{% endblock %}

{% block footer %}{{ parent() }}{% endblock %}
