{# index.twig #}
{% extends "base/layout.twig" %}

{% block head %}{{ parent() }}{% endblock %}

{% block title %}CASHON.MOBI - Advertising network{% endblock %}

{% block main %}
<div>
    <p>The best affiliate network</p>
    <p>Make Cash</p>
    <button class="" ><span class="">Start now</span></button>
</div>

<div>
    <div>
        <p>Premium Quality</p>
        <p>Lorem ipsum dolor sit amet, eu vix dico diam, ex sit nostrud fabellas. Cum et vidit</p>
    </div>
    <div>
        <p>Professional Team</p>
        <p>Lorem ipsum dolor sit amet, eu vix dico diam, ex sit nostrud fabellas. Cum et vidit</p>
    </div>
    <div>
        <p>Innovative Solutions</p>
        <p>Lorem ipsum dolor sit amet, eu vix dico diam, ex sit nostrud fabellas. Cum et vidit</p>
        
    </div>
</div>

<div>
    <div>
        <!img>
    </div>
    <div>
        <p>About Us</p>
        <p>Our Main Goal</p>
        <p>CashOnMobi is a CPA Affiliate Network, which was built to provide<br/>
            flexible and quick worldwide networking. We are not here to just<br/>
            build a collection of offers to out gadget our competitors.</p>
        <p>Our mission is to set new quality standards, build ground for global<br/>
            marketing and open up new horizons for our clients to master<br/>
            state-of-the-art marketing techniques.</p>
        <button class="" ><span class="">Start now</span></button>
    </div>
</div>

<div>
    <div>
        <!img>
    </div>
    <div>
        <p>About Us</p>
        <p>Who Makes It</p>
        <p>As we develop new marketing methods and strategies and implement new versatile<br/>
            technologies, we hire teams of top-grade software developers, IT and marketing experts.<br/>
            They put their effort together to create a viable and extremely reliable,<br/>
            industry-compliant and flexible platform for advertisers, publishers,<br/>
            media groups and trading desks.</p>
        <p>Invest your cash into a viable business and let it grow instead<br/>
            of letting the inflation eat it away!</p>
        <button class="" ><span class="">Who Makes It</span></button>
        <button class="" ><span class="">Why Choose Us</span></button>
    </div>
</div>

<div>
    <p>Sign Up Now To our Network</p>
    <p>As we develop new marketing methods and strategies and implement new versatile<br/>
        technologies, developers, IT and marketing experts. They put their effort together.</p>
    <button class="" ><span class="">Sign up now</span></button>
</div>

<div>
    <div>
        <!img>
    </div>
    <div>
        <p>About Us</p>
        <p>Attend Events</p>
        <p>ST.PETERSBURG.RU6<br/>
            White Nights Conference6<br/>
            June 28 10:00 am - June 29 10:00 pm</p>
        <button class="" ><span class="">SCHEDULE A MEETING</span></button>
        <p>
            15 JULY, 2016<br/>
            MOBILE BEACH CONFERENCE<br/>
            15 JULY, 2016<br/>
            MOBILE BEACH CONFERENCE<br/>
            28-29 JUNE, 2016<br/>
            WHITE NIGHTS CONFERENCE<br/>
            26-29 JUNE, 2016<br/>
            WHITE NIGHTS CONFERENCE</p>
        </p>
    </div>
</div>

<div>
    <button class="" ><span class="">Unique 1</span></button>
    <button class="" ><span class="">Unique 2</span></button>
    <button class="" ><span class="">Unique 3</span></button>
    <button class="" ><span class="">Unique 4</span></button>
    <button class="" ><span class="">Unique 5</span></button>
    <button class="" ><span class="">Unique 6</span></button>
</div>

{% endblock %}

{% block footer %}{{ parent() }}{% endblock %}