{# index.twig #}
{% extends "base/layout.twig" %}

{% block head %}{{ parent() }}{% endblock %}

{% block title %}CASHON.MOBI - Advertising network{% endblock %}

{% block header_class %}home-scroll{% endblock %}

{% block main %}

<div class="home-slider">
    <div class="home-slider-container">
            <div class="container">
                <div class="col-sm-12">
                    <div class="hexagon">
                        <div class="hex-l2">
                        <div class="hex-text">
                            <p class="h1">The best affiliate network</p>
                            <p class="h2">Make Cash</p>
                            <p class="h3">With Cashon Mobi</p>
                            <div class="start-now">
                                <a href="/" class="">Start now</a>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

<div class="features">
    <div class="container">
            <div class="col-sm-4">
                <div class="card prem">
                    <div class="h1">Premium Quality</div>
                    <p>Lorem ipsum dolor sit amet, eu vix dico diam, ex sit nostrud fabellas. Cum et vidit</p>
                    <div class="num">01</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card prof">
                    <div class="h1">Professional Team</div>
                    <p>Lorem ipsum dolor sit amet, eu vix dico diam, ex sit nostrud fabellas. Cum et vidit</p>
                    <div class="num">02</div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card inn">
                    <div class="h1">Innovative Solutions</div>
                    <p>Lorem ipsum dolor sit amet, eu vix dico diam, ex sit nostrud fabellas. Cum et vidit</p>
                    <div class="num">03</div>
                </div>
            </div>
     </div>
</div>

<div class="maingoal">
            <div class="photo"></div>
            <div class="text">
                <div class="main-h1">About Us</div>
                <div class="main-h2">Our Main Goal</div>
                <div class="main-p">CashOnMobi is a CPA Affiliate Network, which was built to provide
                    flexible and quick worldwide networking. We are not here to just
                    build a collection of offers to out gadget our competitors.</div>
                <div class="main-p">Our mission is to set new quality standards, build ground for global
                    marketing and open up new horizons for our clients to master
                    state-of-the-art marketing techniques.</div>
                <div class="start-now">
                    <a href="/">Start now</a>
                </div>
            </div>
</div>

<div class="whomakes">
    <div class="photo"></div>
        <div class="text">  
            <div class="">
                <div class="main-h1">About Us</div>
                <div class="main-h2">Who Makes It</div>
                <div class="main-p">As we develop new marketing methods and strategies and implement new versatile
                    technologies, we hire teams of top-grade software developers, IT and marketing experts.
                    They put their effort together to create a viable and extremely reliable,
                    industry-compliant and flexible platform for advertisers, publishers,
                    media groups and trading desks.</div>
                <div class="main-p">Invest your cash into a viable business and let it grow instead
                    of letting the inflation eat it away!</div>
            </div>
            <div class="row">
                <a href="/">Who Makes It</a>
                <a href="/">Why Choose Us</a>
            </div>
        </div>
</div>

<div class="signup">
    <div class="signup-content">
        <div class="text">
            <div class="main-h2">Sign Up Now To our Network</div>
            <div class="main-p">As we develop new marketing methods and strategies and implement new versatile
                technologies, developers, IT and marketing experts. They put their effort together.</div>
        </div>
        <div class="start-now">
            <a href="/" class="">Sign up now</a>
        </div>
    </div>
</div>

<div class="events">
    <div class="events-content">
        <div>
            <div class="main-h1">About Us</div>
            <div class="main-h2">Attend Events</div>
            <div class="schedule-meet">
                <div class="event-h1">St.Petersburg.ru</div>
                <div class="event-h2">White Nights Conference</div>
                <div class="event-p">June 28 10:00 am - June 29 10:00 pm</div>
                <div class="start-now"><a href="/" class="">Schedule a meeting</a></div>
            </div>
            <div class="schedule-plan">
                <div>
                    <div class="event-p e-last text-right"></div>
                    <div class="event-p text-left">28-29 June, 2016<br>White nights Conference</div>
                </div>
                <div>
                    <div class="event-p e-last text-right">15 July, 2016<br>Mobile beach Conference</div>
                    <div class="event-p text-left"></div>
                </div>
                <div>
                    <div class="event-p e-next text-right"></div>
                    <div class="event-p text-left">2-3 November, 2016<br>ad:tech NY</div>
                </div>
                <div>
                    <div class="event-p e-next text-right">6 december, 2016<br>Mobile monetezetion summit</div>
                    <div class="event-p text-left"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="partners">
    <div class="partners-content">
        <a href="/" class="partner-1"></a>
        <a href="/" class="partner-2"></a>
        <a href="/" class="partner-3"></a>
        <a href="/" class="partner-4"></a>
        <a href="/" class="partner-5"></a>
        <a href="/" class="partner-6"></a>
    </div>
</div>

{% endblock %}

{% block footer %}{{ parent() }}{% endblock %}