{# index.twig #}
{% extends "base/layout.twig" %}

{% block head %}{{ parent() }}{% endblock %}

{% block title %}CASHON.MOBI - Advertising network{% endblock %}

{% block main %}

<div class="home-slider">
    <div class="home-slider-container">
            <div class="container">
                <div class="col-sm-12">
                    <div class="hexagon">
                        <div class="hex-l2">
                        <div class="hex-text">
                            <p class="h1">The best affiliate network</p>
                            <p class="h2">Make Cash</p>
                            <p class="h3">With Cashon Mobi</p>
                            <a class="Start" href="/" class="" >Start now</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

<div class="features">
    <div class="container">
            <div class="card prem">
                <div class="h1">Premium Quality</div>
                <p>Lorem ipsum dolor sit amet, eu vix dico diam, ex sit nostrud fabellas. Cum et vidit</p>
                <div class="num">01</div>
            </div>
            <div class="card prof">
                <div class="h1">Professional Team</div>
                <p>Lorem ipsum dolor sit amet, eu vix dico diam, ex sit nostrud fabellas. Cum et vidit</p>
                <div class="num">02</div>
            </div>
            <div class="card inn">
                <div class="h1">Innovative Solutions</div>
                <p>Lorem ipsum dolor sit amet, eu vix dico diam, ex sit nostrud fabellas. Cum et vidit</p>
                <div class="num">03</div>
            </div>
     </div>
</div>

<div class="maingoal">
        <div class="photo"></div>
        <div class="text">
            <p>About Us</p>
            <p>Our Main Goal</p>
            <p>CashOnMobi is a CPA Affiliate Network, which was built to provide<br/>
                flexible and quick worldwide networking. We are not here to just<br/>
                build a collection of offers to out gadget our competitors.</p>
            <p>Our mission is to set new quality standards, build ground for global<br/>
                marketing and open up new horizons for our clients to master<br/>
                state-of-the-art marketing techniques.</p>
            <a>Start now</a>
        </div>
</div>

<div class="container">
    <div>
        
    </div>
    <div>
        <p>About Us</p>
        <p>Who Makes It</p>
        <p>As we develop new marketing methods and strategies and implement new versatile<br/>
            technologies, we hire teams of top-grade software developers, IT and marketing experts.<br/>
            They put their effort together to create a viable and extremely reliable,<br/>
            industry-compliant and flexible platform for advertisers, publishers,<br/>
            media groups and trading desks.</p>
        <p>Invest your cash into a viable business and let it grow instead<br/>
            of letting the inflation eat it away!</p>
        <button class="" ><span class="">Who Makes It</span></button>
        <button class="" ><span class="">Why Choose Us</span></button>
    </div>
</div>

<div class="container">
    <p>Sign Up Now To our Network</p>
    <p>As we develop new marketing methods and strategies and implement new versatile<br/>
        technologies, developers, IT and marketing experts. They put their effort together.</p>
    <button class="" ><span class="">Sign up now</span></button>
</div>

<div class="container">
    <div>
        
    </div>
    <div>
        <p>About Us</p>
        <p>Attend Events</p>
        <p>ST.PETERSBURG.RU6<br/>
            White Nights Conference6<br/>
            June 28 10:00 am - June 29 10:00 pm</p>
        <button class="" ><span class="">SCHEDULE A MEETING</span></button>
        <p>
            15 JULY, 2016<br/>
            MOBILE BEACH CONFERENCE<br/>
            15 JULY, 2016<br/>
            MOBILE BEACH CONFERENCE<br/>
            28-29 JUNE, 2016<br/>
            WHITE NIGHTS CONFERENCE<br/>
            26-29 JUNE, 2016<br/>
            WHITE NIGHTS CONFERENCE</p>
        </p>
    </div>
</div>

<div class="container">
    <a><span class="">Unique 1</span></button>
    <a><span class="">Unique 1</span></button>
    <a><span class="">Unique 1</span></button>
    <a><span class="">Unique 1</span></button>
    <a><span class="">Unique 1</span></button>
    <a><span class="">Unique 1</span></button>
</div>

{% endblock %}

{% block footer %}{{ parent() }}{% endblock %}