{# sign-in.twig #}
{% extends "base/layout.twig" %}

{% block head %}{{ parent() }}{% endblock %}

{% block title %}Sign in{% endblock %}

{% block main %}
<div>
    <h2 class="center">Home > Sign in</h2>
    <h1 class="center">Sign in</h1>
</div>

<div class="about-us">
     <h1 class="center">Content here</h1>
</div>
{% endblock %}

{% block footer %}{{ parent() }}{% endblock %}
