{# technology.twig #}
{% extends "base/layout.twig" %}

{% block head %}{{ parent() }}{% endblock %}

{% block title %}Technology{% endblock %}

{% block main %}
<div>
    <h2 class="center">Home > Technology</h2>
    <h1 class="center">Technology</h1>
</div>

<div>
    <div>
        <p>About Us</p>
        <p>Our Technology</p>
        <p>CashonMobi uses a life-changing technology, which turns advertising into a<br/>
        simple and exciting way of gaining well-deserved profit. It combines a<br/>
        number of features to detect and distinguish between segments of target<br/>
        audience, particularly advertisers, publishers, software developers, game<br/>
        developers, etc.</p>
        <p>Our platform incorporates innovating solutions, which allow companies to<br/>
        target and identify audience on a global scale, as well as analyze their<br/>
        current needs. Relying on that information, they select and/or build specific<br/>
        performance-based campaigns for both advertisers and affiliates.</p>
    </div>
    <div>
        <!img>
    </div>
</div>

<div>
    <div>
        <button class="" >Planning<br/>& strategy</button>
        <button class="" >Traffic<br/>delivery</button>
        <button class="" >Reliable<br/>users</button>
        <button class="" >Reporting<br/>& analytics</button>
    </div>
    <div>
        <p>About Us</p>
        <p>Main Services</p>
        <p>We use software tools that help us provide effective and consecutive<br/>
        management and generate income by way of supporting and<br/>
        boosting CPA CPS, CPL, CTR, CPI, etc. rates.</p>
        <p>We use software tools that help us provide effective and consecutive<br/>
        management and generate income by way of supporting and</p>
    </div>
</div>

<div>
    <div>
        <p>Sign Up Now To our Network</p>
        <p>As we develop new marketing methods and strategies and implement new versatile<br/>
            technologies, developers, IT and marketing experts. They put their effort together.</p>
        <button class="" ><span class="">Sign up now</span></button>
    </div>
</div>

<div>
    <p>About Us</p>
    <p>Key Features</p>
    <div>
        <p>High Quality Traffic</p>
        <p>Lorem sum dolor sit amet eu vix dico diam, ex<br/>
        sit nostrud fabellas. Cum et vidit</p>
    </div>
    <div>
        <p>Dedicated support</p>
        <p>Lorem sum dolor sit amet eu vix dico diam, ex<br/>
        sit nostrud fabellas. Cum et vidit</p>
    </div>
    <div>
        <p>Competetive Prices</p>
        <p>Lorem sum dolor sit amet eu vix dico diam, ex<br/>
        sit nostrud fabellas. Cum et vidit</p>
    </div>    <div>
        <p>Agile Terms</p>
        <p>Lorem sum dolor sit amet eu vix dico diam, ex<br/>
        sit nostrud fabellas. Cum et vidit</p>
    </div>
    <div>
        <p>Creative Design</p>
        <p>Lorem sum dolor sit amet eu vix dico diam, ex<br/>
        sit nostrud fabellas. Cum et vidit</p>
    </div>
    <div>
        <p>Targeted Ads</p>
        <p>Lorem sum dolor sit amet eu vix dico diam, ex<br/>
        sit nostrud fabellas. Cum et vidit</p>
    </div>

</div>

{% endblock %}

{% block footer %}{{ parent() }}{% endblock %}
