{# technology.twig #}
{% extends "base/layout.twig" %}

{% block head %}{{ parent() }}{% endblock %}

{% block title %}Technology{% endblock %}

{% block main %}

<div class="current-link">
    <div class="current-link-container">
            <div class="container">
                <div class="col-sm-12">
                    <div class="about-h1 text-center">Home > Technology</div>
                    <div class="about-h2 text-center">Technology</div>
                </div>
            </div>
    </div>
</div>

<div class="ourtechnology">
    <div class="container">
        <div class="col-sm-6 text">  
            <div class="main-h1">About Us</div>
            <div class="main-h2">Our Technology</div>
            <div class="main-p">CashonMobi uses a life-changing technology, which turns advertising into a
                simple and exciting way of gaining well-deserved profit. It combines a
                number of features to detect and distinguish between segments of target
                audience, particularly advertisers, publishers, software developers, game
                developers, etc.
            </div>
            <div class="main-p">Our platform incorporates innovating solutions, which allow companies to
            target and identify audience on a global scale, as well as analyze their
            current needs. Relying on that information, they select and/or build specific
            performance-based campaigns for both advertisers and affiliates.</div>
        </div>
        <div class="col-sm-6 photo"></div>
    </div>
</div>

<div class="ourservices">
    <div class="container">
        <div class="col-sm-6 services">
            <a href="/" style='background-image: url(/img/services-planning.png)'>Planning<br/>& strategy</a>
            <a href="/" style='background-image: url(/img/services-delivery.png)'>Traffic<br/>delivery</a>
            <a href="/" style='background-image: url(/img/services-users.svg)'>Reliable<br/>users</a>
            <a href="/" style='background-image: url(/img/services-analytics.svg)'>Reporting<br/>& analytics</a>
        </div>
        <div class="col-sm-6">
            <div class="text">
                <div class="main-h1">About Us</div>
                <div class="main-h2">Main Services</div>
                <div class="main-p">We use software tools that help us provide effective and consecutive
                    management and generate income by way of supporting and boosting CPA CPS, CPL, CTR, CPI, etc. rates.
                </div>
                <div class="main-p">We use software tools that help us provide effective and consecutive
                    management and generate income by way of supporting and
                </div>
            </div>
        </div>
    </div>
</div>

<div class="signup">
    <div class="signup-content">
        <div class="text">
            <div class="main-h2">Sign Up Now To our Network</div>
            <div class="main-p">As we develop new marketing methods and strategies and implement new versatile
                technologies, developers, IT and marketing experts. They put their effort together.</div>
        </div>
        <div class="start-now">
            <a href="/" class="">Sign up now</a>
        </div>
    </div>
</div>

<div class="keyfeatures">
    <div class="container">
        <div class="main-h1">About Us</div>
        <div class="main-h2">Key Features</div>
        <div class="col-sm-12">
            <a href="/" style='background-image: url(/img/key-feature-1.svg)'>
                <h1>High Quality Traffic</h1>
                <p>Lorem ipsum dolor sit amet, eu vix dico diam, ex sit nostrud fabellas. Cum et vidit</p>
            </a>
            <a href="/" style='background-image: url(/img/key-feature-2.svg)'>
                <h1>Dedicated support</h1>
                <p>Lorem ipsum dolor sit amet, eu vix dico diam, ex sit nostrud fabellas. Cum et vidit</p>
            </a>
            <a href="/" style='background-image: url(/img/key-feature-3.svg)'>
                <h1>Competetive Prices</h1>
                <p>Lorem ipsum dolor sit amet, eu vix dico diam, ex sit nostrud fabellas. Cum et vidit</p>
            </a>
            <a href="/" style='background-image: url(/img/key-feature-4.svg)'>
                <h1>Agile Terms</h1>
                <p>Lorem ipsum dolor sit amet, eu vix dico diam, ex sit nostrud fabellas. Cum et vidit</p>
            </a>
            <a href="/" style='background-image: url(/img/key-feature-5.svg)'>
                <h1>Creative Design</h1>
                <p>Lorem ipsum dolor sit amet, eu vix dico diam, ex sit nostrud fabellas. Cum et vidit</p>
            </a>
            <a href="/" style='background-image: url(/img/key-feature-6.svg)'>
                <h1>Targeted Ads</h1>
                <p>Lorem ipsum dolor sit amet, eu vix dico diam, ex sit nostrud fabellas. Cum et vidit</p>
            </a>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}{{ parent() }}{% endblock %}
