// -----------------------------------------------------------------------------
// PNG Sprite Template
// -----------------------------------------------------------------------------
$icons-png: (
	github_png: (width: 32px, height: 32px, backgroundX: 0px, backgroundY: 0px),
	twitter_png: (width: 32px, height: 32px, backgroundX: -37px, backgroundY: -37px),
	sprite: (width: 69px, height: 69px, pngPath: '../img/sprite-png.png'),
);


