// -----------------------------------------------------------------------------
// Basic for site
// -----------------------------------------------------------------------------

/* Body and Blocks
   ========================================================================== */

@include font-face('Montserrat', '../fonts/Montserrat-Light', 300, normal, woff2 woff);
@include font-face('Montserrat', '../fonts/Montserrat-Regular', 400, normal, woff2 woff);
@include font-face('Montserrat', '../fonts/Montserrat-SemiBold', 500, normal, woff2 woff);
@include font-face('Montserrat', '../fonts/Montserrat-Bold', 600, normal, woff2 woff);

*,
*:before,
*:after {
	box-sizing:border-box;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

html {
	font-size: 100%;
	min-height: 100vh;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
	font-family:$base-font-family;
	font-size: $base-font-size;
	font-weight: $base-font-weight;
	line-height: $base-line-height;
	color: $text-color;
	background-color: $body-bg;
}
