// -----------------------------------------------------------------------------
// CSS helper classes
// -----------------------------------------------------------------------------

/* Helpers :: Sprite
   ========================================================================== */

/// SVG Sprite
%sprite {
	display: inline-block;
	background-image: url(map-get($sprite, svgPath));
	background-size: mq-px2em(map-get($sprite, width)) mq-px2em(map-get($sprite, height));
}

%sprite-png {
	display: inline-block;
	background-image: url(map-get($sprite-png, pngPath));
	background-size: map-get($sprite-png, width) map-get($sprite-png, height);
}

/// PNG Sprite
%ie-sprite {
	 background-image: url(map-get($sprite, pngPath));
}

.logo {
	display:inline-block;
	@media(max-width:$screen-md) {
		display:block;
	}
	background-image: url(/img/logo.svg);
	background-repeat: no-repeat;
	background-position: center;
	height: 53px;
	width: 236px;
	a {
        width: auto;
        height: auto;
        display: block;
        padding: 26px 118px;
    }
}

.center {
	width: 200px;
	margin: auto;
	margin-top: -50px;
}

.text-center {
	text-align: center !important;
}

.text-left {
	text-align: left !important;
}

.text-right {
	text-align: right !important;
}

.main-h1, .about-h1 {
	font-size: 14px;
	font-family: $second-font-family;
	color: rgb(0, 133, 189);
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

.main-h2, .about-h2 {
	font-size: 48px;
	font-family: $second-font-family;
	color: rgb(31, 30, 30);
	font-weight: bold;
	text-align: center;
	padding-bottom: 5px;
	@media(max-width: 767px) {
		font-size: 36px;
	}
}

.main-p, .about-p {
	font-size: 16px;
	padding: 20px 20px;
	color: rgb(108, 108, 108);
	text-align: center;
	@media(max-width: 1200px) {
		padding: 15px;
	}
}

.footer-h1 {
	margin-top: 50px;
	margin-bottom: 20px;
	font-size: 22px;
	font-family: $second-font-family;
	color: rgb(0, 133, 189);
	font-weight: normal;
	text-align: left;
}

.footer-p {
	padding: 4px 0px;
	font-size: 15px;
	font-weight: normal;
	color: rgb(212, 212, 212);
	text-align: left;
}

.start-now {
	width: 100%;
	padding: 60px 0;
	text-align: center;
	@media(max-width: 767px) {
		padding: 5vh 0;
	}
	a {
		display: inline-block;
		padding: 15px 55px;
		font-family: $second-font-family;
		font-weight: 600;
		background-color: rgb(0, 58, 123);
		border-radius: 50px;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		transition: background .3s ease;
		&:hover, &:focus {
			background-color: #023063;
		}
		@media(max-width: 767px) {
			padding: 15px 45px;
		}
	}
}