// -----------------------------------------------------------------------------
// About Us
// -----------------------------------------------------------------------------

/* Website :: About Us page
   ========================================================================== */
.about-h1 {
	font-size: 14px;
	font-family: $second-font-family;
    color: rgb(0, 133, 189);
	font-weight: normal;
}

.about-h2 {
	font-size: 60px;
	font-family: $second-font-family;
    font-weight: bold;
	color: rgb(251, 251, 251);
	padding-bottom: 20px;
    @media(max-width: 479px) {
        font-size: 36px;
    }
}

.whoweare {
    background-color: rgb(255, 255, 255);
    background-image: url($imgPathCss+'/bg-whoweare.jpg');
    //background-size: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    @media(max-width:1200px) {
        background-size: cover;
        background-position: 30% bottom;
    }
    @media(max-width:992px) {
        background-image: none;
        text-align: center;
    }

    .photo {
        display: inline-block;
        vertical-align:top;
        height: 100px;
        @media(max-width: 992px) {
            display: none;
        }
    }

    .text {
        display: inline-block;
        vertical-align:top;
        padding: 10% 15px;
        @media(max-width:$screen-md-min) {
            width: 100%;
        }
        .main-p {
            padding: 20px 0px;
        }
        .start-now {
            padding: 30px 0 0;
        }
        .main-h1, .main-h2, .main-p, .start-now  {
            text-align: left;
            @media(max-width: 992px) {
                text-align: center;
            }
        }


    }
}



.teamof {
    position: relative;
    height: 700px;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url($imgPathCss+'/bg-teamof.jpg');
    &:before {
        content:'';
        @include position(absolute, 0);
        background-color: rgba(4, 25, 49, .82);
    }
    &-content {
        position: relative;
        height: inherit;
        z-index:1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }

    .text {
        max-width: 800px;
        margin:0 auto;
        padding: 0 15px;

        .main-h2 {
            font-size: 36px;
            font-family: $second-font-family;
            font-weight: bold;
            color: rgb(251, 251, 251);
            padding-bottom: 40px;
            @media(max-width: 767px) {
                padding-bottom: 15px;
            }
        }
        .main-p {
            color: #e7e7e7;
            padding: 10px 0px;
        }

    }

    .start-now {
        width: auto;
        padding: 7% 4%;
        vertical-align:top;
        display: inline-block;
        @media(max-width:$screen-md-min) {
            padding: 2% auto;
        }
    }

}

.meet-team {
    background-color: rgb(255, 255, 255);

    @media(max-width:$screen-md-min) {
        background-size: auto;
        text-align: center;
    }

    &-content {
        display: inline-block;
        vertical-align:top;
        width: 100%;
        padding: 5% 40px;
        @media(max-width:$screen-md-min) {
            width: 100%;
        }
        @media(max-width: 479px) {
            padding: 5% 15px;
        }
        .hexgrid{
            .grid {
                padding: 1% 2%;
                margin: 0 auto;
                max-width: 1200px;
                text-align: center;
                @media(max-width: 4 79px) {
                    padding: 0;
                }
                &:after {
                    content:'';
                    clear:both;
                    display: table;
                }
            }

            .grid--item {
                position: relative;
                margin: 4%;
                width: 270px;
                float: left;
                overflow: hidden;
                @media(max-width: 1200px) {
                    display: inline-block;
                    float:none;
                }
                @media(max-width: 479px) {
                    margin: 4% 0;
                }

                &:before {
                    display: block;
                    padding-top: 120%;
                    content: '';
                }
                &:nth-child(1) {
                    margin-left: 22%;
                    @media(max-width: 1200px) {
                        margin-left:0;
                    }
                }

                &:nth-child(3) {
                    margin-left: 5%;
                    @media(max-width: 992px) {
                        margin-left:4%;
                    }
                    @media(max-width: 479px) {
                        margin-left:0;
                    }
                }

            }

            .img {
                position: absolute;
                top: 0;
                right: 0;
                height: 310px;
                width: 270px;
                margin: 0 auto;
                background-position: center center;
                background-size: cover;
                overflow: hidden;
            }

            .grid--item__container {
                position: absolute;
                top: 0;
                left: 0;
                width: 270px;
                padding-bottom: calc(270px / .866);
                overflow:hidden;
                visibility:hidden;
                transform: rotate(-60deg) skewY(30deg);
                background: rgba(rgb(6, 26, 48), 0);
                opacity: 0;
            }
            .grid--item__hexagon {
                position:absolute;
                visibility:visible;
                left:0;
                top:0;
                width:100%;
                height:100%;
                text-align:center;
                color:#fff;
                overflow:hidden;
                transform: skewY(-30deg) rotate(60deg);

                display:flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-align: center;

                backface-visibility:hidden;
                background: rgba(rgb(6, 26, 48), 0);
                transition: background .3s ease;
            }

            h2 {
                font-size: 24px;
                font-family: $second-font-family;
                color: rgb(31, 30, 30);
                text-align: center;

                &:before,
                &:after {
                    display: inline-block;
                    content: '';
                    vertical-align: middle;
                }
            }

            .desc {
                z-index: 2;
                text-align: center;
                font-size: 16px;
                font-family: $base-font-family;
                color: rgb(132, 132, 132);
                pointer-events: none;
                a {
                    width: 42px;
                    height: 42px;
                    display:flex;
                    float: left;
                    margin: 7px;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    background-color: rgba(249, 247, 245, .11);
                    border: 0px;
                    border-radius: 50%;
                    text-align: center;
                    text-transform: uppercase;
                    text-decoration: none;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 40%;
                    &:hover, &:focus {
                        color: rgb(0, 133, 189);
                    }
                }
                .email {
                    background-image: url($imgPathCss+'/close-envelope.svg');
                }
                .skype {
                    background-image: url($imgPathCss+'/skype.svg');
                }
                .linkedln {
                    background-image: url($imgPathCss+'/linkedin.svg');
                }
            }

            .grid--item:hover, .grid--item.hover, .grid--item.hover:hover {
                .grid--item__container {
                    opacity: 1;
                }
                .grid--item__hexagon {
                    background: rgba(rgb(6, 26, 48), 0.9);
                    .desc {
                        pointer-events: auto;
                    }
                }
            }
            @media(max-width: 992px) {
                .grid--item:hover {
                    .grid--item__container {
                        opacity: 0;
                    }
                    .grid--item__hexagon {
                        background: rgba(rgb(6, 26, 48), 0);
                        .desc {
                            pointer-events: none;
                        }
                    }
                }
            }

        }
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgba(8, 13, 20, 0.788);
}

.modal-content {
    background-color: rgb(240, 243, 248);
    margin: 40px auto 0;
    padding: 40px;
    z-index: 1;
    text-align: left;
    @media(max-width: 767px) {
        padding: 40px 15px;
    }
    .modal-header {
        h1 {
            font-family: $second-font-family;
            text-align: left;
            font-size: 30px;
            color: rgb(31, 30, 30);
        }
        h2 {
            padding-top: 15px;
            margin-bottom: 20px;
            font-family: $second-font-family;
            text-align: left;
            font-size: 16px;
            color: rgb(174, 174, 174);
        }
    }
    .modal-body{
        font-family: $base-font-family;
        color: #757575;
        line-height: 1.6;
        text-align: left;
        font-size: 15px;
        p {
            padding: 0;
            margin: 0;
        }
        .h3 {
            padding-top: 12px;
            padding-bottom: 12px;
            color: #003a7b;
            font-size: 15px;
        }
        li {
            list-style: none;
            &:before {
                content: "• ";
                padding-right: 5px;
                color: #4d86bb;
            }
        }
        .desc{
            padding: 30px 0;
            margin: 0;
            vertical-align: top;
            text-align: left;
            display: inline-block;
            width: 70%;
            font-family: $base-font-family;
            color: #757575;
            line-height: 1.6;
            text-align: left;
            font-size: 15px;
        }

        .start-now{
            padding:0;
            @media(max-width: 767px) {
                padding-top: 30px;
            }
        }
    }

}

.close {
    width: 14px;
    height: 14px;
    background-image: url($imgPathCss+'/close.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #aaa;
    float: right;
    &:hover {
        background-image: url($imgPathCss+'/close-hover.svg');
    }
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#btn {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	cursor: pointer;
	color: #e7e7e7;
	text-transform: uppercase;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
