// -----------------------------------------------------------------------------
// Advertisers
// -----------------------------------------------------------------------------

/* Website :: Advertisers page
   ========================================================================== */
.foradvertisers {
    background-color: rgb(239, 243, 248);
    @media(max-width:$screen-md-min) {
        text-align: center;
    }

   .text {
        margin: 0 auto;
        padding: 80px 0 ;
        @media(max-width:$screen-md-min) {
            padding: 40px 0;
        }
        .main-h1 {
            font-size: 30px;
            font-weight: 400;
            font-family: $base-font-family;
            text-transform: none;
            color: rgb(142, 142, 142);
            span {
                color: rgb(25, 24, 24);
            }
            @media(max-width: 479px) {
                font-size: 20px;
            }
        }

        .main-p {
            padding: 20px 0px;
            font-size: 16px;
            line-height: 1.75;
            font-family: $base-font-family;
            color: rgb(108, 108, 108);
        }
        .start-now {
            padding: 30px 0 0;
        }
    }
}

.formatads {
    background-color: rgb(255, 255, 255);
    @media(max-width:$screen-md-min) {
        background-size: cover;
    }

    .photo {
        background-image: url($imgPathCss+'/bg-ads.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @media(max-width:$screen-md-min) {
            display: none;
        }
    }
    .text {
        vertical-align:middle;
        background-image: url($imgPathCss+'/bg-ads-text.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        padding: 80px 8%;
        @media(max-width:$screen-md-min) {
            background-color: rgba(255, 255, 255, .92);
            padding: 40px 5%;
            width: 100%;
        }
        .main-h2 {
            @media(max-width:1200px) {
                font-size: rem(44);
            }
            @media(max-width:767px) {
                margin-top: 15px;
                font-size: rem(28);
            }
        }
        .main-p {
            padding: 20px 0px;
        }
    }
}

.gethelp {
    background-color: rgb(255, 255, 255);
    @media(max-width:$screen-md-min) {
        background-size: cover;
    }

    .photo {
        background-image: url($imgPathCss+'/bg-gethelp.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @media(max-width:$screen-md-min) {
            display: none;
        }
    }

    .text {
        vertical-align:middle;
        background-image: url($imgPathCss+'/bg-gethelp-text.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        padding: 80px 8%;
        @media(max-width:$screen-md-min) {
            background-color: rgba(255, 255, 255, .92);
            padding: 40px 5%;
            width: 100%;
            border-top:1px solid #ddd;
        }

        .main-h2 {
            @media(max-width:1200px) {
                font-size: rem(44);
            }
            @media(max-width:767px) {
                margin-top: 15px;
                font-size: rem(28);
            }
        }
        .main-p {
            padding: 20px 0px;
        }
    }
}
