// -----------------------------------------------------------------------------
// Affiliates
// -----------------------------------------------------------------------------

/* Website :: Affiliates page
   ========================================================================== */
.foraffiliates {
    background-color: rgb(255, 255, 255);
    @media(max-width:$screen-md-min) {
        text-align: center;
    }
    .container{
        padding: 80px 0;
        @media(max-width: 767px) {
            padding: 40px 15px;
        }
    }

    .photo {
        background-image: url($imgPathCss+'/bg-affiliates.jpg');
        background-position: center top;
        background-repeat: no-repeat;
        background-size: contain;
        height: 470px;
        @media(max-width: 767px) {
            display: none;
        }
    }

    .text {
        vertical-align:middle;
        @media(max-width: 767px) {
            max-width: 680px;
            margin:0 auto;
        }
        .main-p {
            line-height: 1.75;
            padding: 20px 0px;
        }
        .start-now {
            padding: 30px 0 0
        }
    }
}

.affsignup {
    background-attachment: fixed;
    background-image: url($imgPathCss+'/bg-affiliates-sign.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    z-index:0;
    position: relative;
    &:before {
        content:'';
        @include position(absolute, 0);
        background-color: rgba(0, 8, 23, .651);
    }
    &-content {
        position: relative;
        z-index:1;
        text-align: center;
    }

    .text {
        display: block;
        width: 50%;
        padding: 100px 0;
        margin: 0 auto;
        @media(max-width:$screen-md-min) {
            width: 100%;
            padding: 60px 0;
        }

        .main-h2 {
            font-size: 44px;
            font-family: $second-font-family;
            font-weight: bold;
            color: rgb(251, 251, 251);
            text-align: center;
            padding: 0px 0px;
            @media(max-width: 767px) {
                font-size: 28px;
            }
        }
        .main-p {
            color: #e7e7e7;
            padding: 30px 0px;
            text-align: center;
            @media(max-width:$screen-md-min) {
                padding: 10px 5%;
            }
        }

    }

    .start-now {
        width: auto;
        padding: 1%;
        vertical-align:top;
        display: inline-block;
        @media(max-width:$screen-md-min) {
            padding: 2% auto;
        }
        @media(max-width: 992px) {
            padding: 4% 7%;
        }
    }

}


.affeatures {
    background-color: rgb(239, 243, 248);
    padding: 80px 0;
    @media(max-width:$screen-md-min) {
        background-size: auto;
        text-align: center;
        padding: 40px 0;
    }
    .container{
        @media(max-width:$screen-md-min) {
            padding: 0;
        }
    }
    .col-sm-offset-2 {
        @media(max-width:992px) {
            margin-left: 25%;
            margin-top:-70px;
        }
        @media(max-width:767px) {
            margin-left: 0;
            margin-top: 0;
        }
    }
    .main-h2 {
        padding: 0 0 40px;
    }
    .aff-item {
        display: inline-block;
        background-image: url($imgPathCss+'/bg-affiliates-ftr.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        height: 415px;
        margin: auto 0;
        @media(max-width: 767px) {
            @include size(280px 360px);
        }
    }

    a {
        margin: 25% auto;
        display: block;
        width: auto;
        background-position: center 16%;
        background-size: auto 55px;
        background-repeat: no-repeat;
        text-align: center;
        text-decoration: none;

        h1 {
            font-size: 20px;
            font-family: $second-font-family;
            color: rgb(31, 30, 30);
            text-align: center;
            padding: 29% 0 0 0;
        }
        p {
            font-size: 15px;
            font-family: $base-font-family;
            line-height: 1.6;
            color: rgb(117, 117, 117);
            text-align: center;
            padding: 0 7%;
        }
    }

}
