// -----------------------------------------------------------------------------
// Home page
// -----------------------------------------------------------------------------

/* Website :: Home page
   ========================================================================== */

.home-slider{
  position: relative;
  margin: 0 auto;
  z-index:1;
    &:before {
        content: '';
        @include position(absolute, 0);
        background-image: url(/img/slider-1.png);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        z-index:0;
    }
    &-container {
        position: relative;
        padding-top: 120px;
        height: 100vh;
        overflow: hidden;
        z-index: 2;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

$hexagon-bg: rgba(7, 14, 25, .369);
.hexagon {
    width: 66vh;
    height: 80vh;
	margin: auto;
	margin-top: -50px;
    overflow: hidden;
    visibility: hidden;
    transform: rotate(120deg);
    @media(max-width: 767px) {
        width: 100%;
    }
    .hex-l2 {
        overflow: hidden;
        width: 100%;
        height: 100%;
        transform: rotate(-60deg);

        .hex-text {
            width: 100%;
            height: 100%;
            display:flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            visibility: visible;
            transform: rotate(-60deg);
            background-color: $hexagon-bg;
            padding-top: 70px;
            @media(max-width: 767px) {
                padding: 30px 20px 0;
            }

            .h1 {
                font-size: 14px;
                font-family: $second-font-family;
                color: rgb(0, 133, 189);
                text-transform: uppercase;
                line-height: 5;
                text-align: center;
                @media(max-width: 767px) {
                    font-size: 12px;
                    line-height: 4;
                }
            }

            .h2 {
                font-size: 11vh;
                font-family: $second-font-family;
                font-weight: bold;
                color: rgb(251, 251, 251);
                text-align: center;
                @media(max-width: 767px) {
                    font-size: 36px;
                }
            }

            .h3{
                font-size: 22px;
                font-family: $second-font-family;
                color: rgb(251, 251, 251);
                text-align: center;
                @media(max-width: 767px) {
                    font-size: 20px;
                }
            }

            .start-now {
                height: 170px;
                @media(max-width: 767px) {
                    height: 100px;
                    padding: 20px 0 30px;
                }
            }

        }

        .bg-img {
            background-image: url(/img/slider-1.png);
        }
    }
}

.features {
    background-color: rgb(240, 243, 248);

    .prem {
        background-image: url(/img/feature-1.svg);
    }
    .prof {
        background-image: url(/img/feature-2.svg);
    }
    .inn {
        background-image: url(/img/feature-3.svg);
    }

    .card {
        z-index: 1;
        position: relative;
        top: -60px;
        background-color: rgb(255, 255, 255);
        height: 344px;
        margin: 0 -7px;
        overflow: hidden;
        background-position: center 25%;
        background-repeat: no-repeat;
        background-size: 66px 58px;
        @media(max-width: 992px) {
            background-position: center 12%;
        }
        @media(max-width: 767px) {
            margin-bottom: 20px;
            background-position: center 20%;
            top:20px;
        }

        .h1 {
            z-index: 1;
            color: rgb(31, 30, 30);
            font-size: 24px;
            font-family: $second-font-family;
            text-align: center;
            padding-top: 50%;
            @media(max-width: 767px) {
                padding-top: 150px;
            }
        }

        p {
            position: absolute;
            z-index: 1;
            padding: 5px 20px;
            color: rgb(31, 30, 30);
            font-size: 15px;
            text-align: center;
        }

        .num {
            color: rgb(246, 248, 251);
            font-size: 152px;
            font-weight: bold;
            position: absolute;
            top: 53%;
            left: -30px;
            width: 200px;
            height: 200px;
        }
    }
}

.maingoal {
    background-color: rgb(240, 243, 248);
    background-image: url(/img/maingoal.png);
    background-repeat: no-repeat;
    @media(max-width:1440px) {
        background-position: calc(50% - 33vw) top;
    }
    @media(max-width:992px) {
        background-position: center top;
    }
    .photo {
        display: inline-block;
        vertical-align:top;
        width: 50%;
        height: 750px;
        margin-bottom: 8%;
        @media(max-width:992px) {
            margin-bottom: 0;
        }
    }

    .text {
        display: inline-block;
        vertical-align:top;
        width: 45%;
        @media(max-width:$screen-md-min) {
            width: 100%;
        }
        padding: 11% 4%;
    }
}

.whomakes {
    background-color: rgb(255, 255, 255);
    text-align: left;
    position: relative;
    display: table;
    height: 870px;
    @media(max-width:$screen-md-min) {
        background-size: auto;
        text-align: center;
        height: 100%;
    }

    .photo {
        display: table-cell;
        background-image: url(/img/whomakes.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        vertical-align:top;
        width: 50%;
        height: 100%;
        @media(max-width: 992px) {
            @include size(auto);
            @include position(absolute, 0);
            background: rgba(#fff, .8);
        }
    }

    .content {
        vertical-align:middle;
        display: table-cell;
        padding: 0 0;
        margin: 0 0;
        position: relative;
        @media(max-width:$screen-md-min) {
            width: 100%;
            position: relative;
            z-index: 2;
        padding: 40px 0px 70px 0px;
        }
        .row {
            display: table-row;
            &-absolute {
                width: 100%;
                position: absolute;
                left:15px;
                bottom:0;
            }
        }
        .text {
            display: table;
            height: 100%;
            margin: 0 auto;
            width: 90%;
        }
        .links {
            width: 100%;
            display: table;
            vertical-align: bottom;
            border-width: 1px 0 0 0;
            border-color: rgb(243, 243, 243);
            border-style: solid;
            height: 68px;
            a {
                height: inherit;
                display:table-cell;
                text-align: center;
                vertical-align: middle;
                color: rgb(126, 126, 126);
                font-size: 14px;
                font-family: $second-font-family;
                text-transform: uppercase;
                &:hover {
                    color: rgb(0, 133, 189);
                }
            }
        }
    }
}

.signup {
    background-attachment: fixed;
    background-image: url(/img/bodybg.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    z-index:0;
    position: relative;
    &:before {
        content:'';
        @include position(absolute, 0);
        background-color: rgba(4, 25, 49, .82);
    }
    &-content {
        position: relative;
        z-index:1;
        text-align: center;
    }

    .text {
        display: inline-block;
        vertical-align:top;
        width: 40%;
        padding: 5% 0;
        @media(max-width:$screen-md-min) {
            width: 90%;
        }

        .main-h2 {
            font-size: 36px;
            font-family: $second-font-family;
            font-weight: bold;
            color: rgb(251, 251, 251);
            text-align: left;
            @media(max-width:$screen-md-min) {
                text-align: center;
            }
            padding: 0px 0px;
        }
        .main-p {
            color: rgb(194, 194, 194);
            text-align: left;
            padding: 10px 0px;
            @media(max-width:$screen-md-min) {
                text-align: center;
                padding: 10px 5%;
            }
        }

    }

    .start-now {
        width: auto;
        padding: 7% 4%;
        vertical-align:top;
        display: inline-block;
        @media(max-width:$screen-md-min) {
            padding: 2% auto;
        }
        @media(max-width: 992px) {
            padding: 0 4% 7%;
        }
    }

}

.events {
    position: relative;
    background-color: rgb(255, 255, 255);
    padding: 100px 0;
    &-content {
        position: relative;
        margin: 0 auto;
        text-align: center;
    }
    @media(max-width:$screen-md-min) {
        width: 100%;
        padding: 50px 0;
    }

    $schedule-meet-bg:rgb(240, 243, 248);
    .schedule-meet {
        position: relative;
        display: inline-block;
        vertical-align:top;
        text-align: center;
        margin-left: 10%;
        width: 35%;
        background-color: $schedule-meet-bg;
        background-image: url(/img/events.png);
        background-position: center 10%;
        background-size: 67px 78px;
        background-repeat: no-repeat;

        @media(max-width:$screen-md-min) {
            width: 100%;
            margin-left: 0;
        }
        &:after {
            content: '';
            position: absolute;
            top: 48%;
            right: -20px;
            border: 10px solid transparent;
            border-left: 10px solid $schedule-meet-bg;
            @media(max-width: 767px) {
                display: none;
            }
        }

    }

    .schedule-plan {
        display: inline-block;
        vertical-align:top;
        margin-right: 10%;
        width: 40%;
        @media(max-width:$screen-md-min) {
            width: 100%;
            margin-right: 0;
        }
        div {
            width: 100%;
            height: 80px;
            display: block;
            padding: 0 0;
            margin: 0 0;
            div {
                vertical-align:top;
                margin: 0 0;
                width: 49%;
                height: 100%;
                display: inline-block;
            }
        }
        .event-p {
            padding: 20px 30px;
            font-size: 12px;
            font-family: $second-font-family;
            text-transform: uppercase;
            a {
                color: rgb(126, 126, 126);
            }
       }
        .text-left {
            text-align: left;
        }
        .text-right {
            text-align: right;
            border-right: 3px solid rgb(240, 243, 248);
        }

        .e-last, .e-next {
            position: relative;
            &:after {
                content: '';
                position:absolute;
                width: 34px;
                height: 42px;
                right: -17.5px;
                top:0;
                bottom: 0;
                margin:auto;
                background-image: url(/img/event-last.svg);
                background-size: 34px 42px;
                background-position: right center;
                background-origin: border-box;
                background-repeat: no-repeat;
            }

        }
        .e-next {
            &:after {
                background-image: url(/img/event-next.svg);
            }
        }
    }

    .event-h1 {
        padding-top: 30%;
        font-size: 12px;
        font-family: $second-font-family;
        color: rgb(126, 126, 126);
        text-transform: uppercase;
        text-align: center;
        @media(max-width: 992px) {
            padding-top: 150px;
        }
    }

    .event-h2 {
        padding: 5px 0;
        color: rgb(31, 30, 30);
        font-size: 30px;
        font-family: $second-font-family;
        color: rgb(0, 58, 123);
        font-weight: bold;
        text-align: center;
    }

    .event-p {
        font-size: 14px;
        font-family: $second-font-family;
        color: rgba(101, 101, 101, 0.761);
        text-align: center;
    }

    .start-now {
        width: auto;
        padding: 7% 4%;
        vertical-align:top;
        display: inline-block;

        a {
            width: 226px;
            height: 52px;
      		font-size: 14px;
        }

        @media(max-width:$screen-md-min) {
            padding: 2% auto;
        }
    }

}

.partners {
    z-index:0;
    position: relative;
    background-color: rgb(247, 249, 251);

    &-content {
        position: relative;
        z-index:1;
        margin: auto 0;
        padding: 3%;
        text-align: center;
        span {
            position: relative;
            display: inline-block;
            vertical-align:top;
            text-align: center;
            margin: 0;
            padding: 0;
            width: 200px;
            height: 100px;
            background-position: center center;
            background-repeat: no-repeat;
        }
        .partner-1 {
            background-image: url(/img/partner-unique-1.png);
        }
        .partner-2 {
            background-image: url(/img/partner-unique-2.png);
        }
        .partner-3 {
            background-image: url(/img/partner-mountain.png);
        }
        .partner-4 {
            background-image: url(/img/partner-unique-3.png);
        }
        .partner-5 {
            background-image: url(/img/partner-strong.png);
        }
        .partner-6 {
            background-image: url(/img/partner-special.png);
        }

    }
}
