// -----------------------------------------------------------------------------
// Home page
// -----------------------------------------------------------------------------

/* Website :: Home page
   ========================================================================== */

.home-slider {
    position: relative;
    z-index: 1;
    @include p_el(before, null, null) {
        @include position(absolute, 0);
        background: url($imgPathCss+'/slider-1.jpg') center top no-repeat;
        background-size: cover;
        z-index: 0;
        @media(max-width: 767px) {
            background-position: center 70px;
        }
    }
    &-container {
        position: relative;
        padding-top: 90px;
        height: 100vh;
        z-index: 2;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        @media(max-width: 767px) {
            .container {
                width: 100%;
            }
        }
    }
}

$hexagon-bg: rgba(7, 14, 25, .369);
.hexagon {
    width: 66vh;
    height: 80vh;
    margin: -50px auto auto;
    overflow: hidden;
    transform: rotate(120deg);
    @media(max-width: 767px) {
        width: 100%;
    }
    .hex-l2 {
        overflow: hidden;
        width: 100%;
        height: 100%;
        transform: rotate(-60deg);
        .hex-text {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            transform: rotate(-60deg);
            background-color: $hexagon-bg;
            padding-top: 70px;
            @media(max-width: 767px) {
                padding: 30px 20px 0;
            }
            .h1 {
                font-size: rem(14);
                font-family: $second-font-family;
                color: rgb(0, 133, 189);
                text-transform: uppercase;
                line-height: 5;
                text-align: center;
                @media(max-width: 767px) {
                    font-size: rem(12);
                    line-height: 4;
                }
            }
            .h2 {
                font-size: 11vh;
                font-family: $second-font-family;
                font-weight: 500;
                color: rgb(251, 251, 251);
                text-align: center;
                white-space: nowrap;
                @media(max-width: 767px) {
                    font-size: 14vw;
                }
                @media(max-width: 767px) and (max-height: 600px) {
                    font-size: rem(36);
                }
            }
            .h3 {
                font-size: rem(22);
                font-family: $second-font-family;
                color: rgb(251, 251, 251);
                font-weight: 300;
                text-align: center;
                @media(max-width: 767px) {
                    font-size: rem(20);
                }
            }
        }
        .bg-img {
            background-image: url($imgPathCss+'/slider-1.jpg');
        }
    }
}

.features {
    background-color: rgb(240, 243, 248);
    .prem {
        background-image: url($imgPathCss+'/feature-1.svg');
    }
    .prof {
        background-image: url($imgPathCss+'/feature-2.svg');
    }
    .inn {
        background-image: url($imgPathCss+'/feature-3.svg');
    }
    .card {
        z-index: 1;
        position: relative;
        top: -60px;
        background-color: rgb(255, 255, 255);
        height: 344px;
        margin: 0 -7px;
        overflow: hidden;
        background-position: center 25%;
        background-repeat: no-repeat;
        background-size: 66px 58px;
        @media(max-width: 992px) {
            background-position: center 12%;
        }
        @media(max-width: 767px) {
            height: 285px;
            margin-bottom: 20px;
            background-position: center 20%;
            top: 20px;
        }
        .h1 {
            z-index: 1;
            color: rgb(31, 30, 30);
            font-size: rem(24);
            font-family: $second-font-family;
            text-align: center;
            padding-top: 50%;
            @media(max-width: 767px) {
                padding-top: 120px;
            }
        }
        p {
            position: absolute;
            z-index: 1;
            padding: 5px 20px;
            color: rgb(31, 30, 30);
            font-size: 15px;
            text-align: center;
        }
        .num {
            color: rgb(246, 248, 251);
            font-size: 152px;
            font-weight: bold;
            position: absolute;
            top: 53%;
            left: -30px;
            width: 200px;
            height: 200px;
        }
    }
}

.maingoal {
    background-color: rgb(240, 243, 248);
    background-image: url($imgPathCss+'/maingoal.jpg');
    background-repeat: no-repeat;
    background-position: 1vw top;
    @media(max-width: 1440px) {
        background-position: calc(50% - 35vw) top;
    }
    @media(max-width:992px) {
        background-position: calc(50% - 50vw) top;
    }
    @media(max-width:767px) {
        background-image: none;
    }
    .photo {
        height: 750px;
        margin-bottom: 5%;
        @media(max-width: 992px) {
            margin-bottom: 0;
            height: 700px;
        }
        @media(max-width:767px) {
            display: none;
        }
    }
    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 750px;
        margin-bottom: 5%;
        padding: 15px;
        @media(max-width: 992px) {
            height: 700px;
            margin-bottom: 0;
        }
        @media(max-width:767px) {
            width: 100%;
            height: auto;
            padding: 5vh 15px 0;
        }
    }
    .start-now {
        padding: 30px 0;
    }
}

.whomakes {
    background-color: rgb(255, 255, 255);
    text-align: left;
    position: relative;
    display: table;
    @include size(100% 870px);
    @media(max-width: $screen-md-min) {
        background-size: auto;
        text-align: center;
        height: 100%;
    }
    .photo {
        display: table-cell;
        background-image: url($imgPathCss+'/whomakes.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        vertical-align: top;
        width: 50%;
        height: 100%;
        @media(max-width: 992px) {
            display: none
        }
    }
    .content {
        vertical-align: middle;
        display: table-cell;
        padding: 0;
        margin: 0;
        position: relative;
        @media(max-width: 992px) {
            width: 100%;
            position: relative;
            z-index: 2;
            padding: 40px 0 70px;
        }
        .row {
            margin: 0;
            &-absolute {
                width: 100%;
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }
        .text {
            margin: 0 auto;
            width: 100%;
            max-width: 600px;
        }
        .links {
            width: 100%;
            display: table;
            vertical-align: bottom;
            border-width: 1px 0 0 0;
            border-color: rgb(243, 243, 243);
            border-style: solid;
            a {
                height: inherit;
                display: table-cell;
                text-align: center;
                vertical-align: middle;
                color: rgb(126, 126, 126);
                font-size: rem(14);
                line-height: 68px;
                font-family: $second-font-family;
                text-transform: uppercase;
                //                &:hover,
                //                &:focus,
            }
            .active {
                color: rgb(0, 133, 189);
            }
        }
    }
}

.signup {
    background-attachment: fixed;
    background-image: url($imgPathCss+'/bodybg.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    position: relative;
    &:before {
        content: '';
        @include position(absolute, 0);
        background-color: rgba(4, 25, 49, .82);
    }
    &-content {
        position: relative;
        z-index: 1;
        text-align: center;
    }
    .text {
        padding: 50px 15px;
        @media(max-width: 767px) {
            padding: 5vh 15px 0;
        }
        .main-h2 {
            font-size: rem(36);
            font-family: $second-font-family;
            font-weight: bold;
            color: rgb(251, 251, 251);
            text-align: left;
            @media(max-width: $screen-md-min) {
                text-align: center;
                font-size: rem(30);
            }
            padding: 0;
        }
        .main-p {
            color: rgb(194, 194, 194);
            text-align: left;
            padding: 10px 0px;
            @media(max-width: $screen-md-min) {
                text-align: center;
                padding: 10px 5%;
            }
        }
    }
    .start-now {
        padding: 50px 0;
        width: 33.333%;
        vertical-align: middle;
        @media(max-width: 767px) {
            width: 100%;
            padding: 30px 0 5vh;
        }
    }
}

.events {
    position: relative;
    background-color: rgb(255, 255, 255);
    padding: 100px 0;
    &-content {
        position: relative;
        margin: 0 auto;
        text-align: center;
    }
    @media(max-width:$screen-md-min) {
        width: 100%;
        padding: 50px 0;
    }
    .main-h2 {
        margin-bottom: 50px;
    }
    $schedule-meet-bg:rgb(240, 243, 248);
    .schedule-meet {
        position: relative;
        text-align: center;
        background-color: $schedule-meet-bg;
        vertical-align: middle;
        padding: 30px 15px;
        &:after {
            content: '';
            position: absolute;
            top: 48%;
            right: -20px;
            border: 10px solid transparent;
            border-left: 10px solid $schedule-meet-bg;
            @media(max-width: 767px) {
                display: none;
            }
        }
        .event-img {
            position:relative;
            width:80px;
            padding-bottom: calc(80px / .866);
            overflow:hidden;
            visibility:hidden;
            transform: rotate(-60deg) skewY(30deg);
            margin: 0 auto 15px;
            * {
                position:absolute;
                visibility:visible;
            }
            &__hexagon {
                width:100%;
                height:100%;
                text-align:center;
                color:#fff;
                overflow:hidden;
                transform: skewY(-30deg) rotate(60deg);

                backface-visibility:hidden;
            }

            img {
                left:-100%; right:-100%;
                width: auto; height:100%;
                margin:0 auto;
            }
        }
    }
    .schedule-plan {
        .event-list {
            li {
                width: 50%;
                &:nth-of-type(odd) {
                    text-align: left;
                    margin-left: calc(50% - 3px);
                    border-left: 3px solid rgb(240, 243, 248);
                    padding-right:0;
                }
                &:nth-of-type(even) {
                    text-align: right;
                    border-right: 3px solid rgb(240, 243, 248);
                    padding-left: 0;
                }
                &.e-last,
                &.e-next {
                    &:nth-of-type(odd) {
                        a:after {
                            left: -18.5px;
                        }
                    }
                    &:nth-of-type(even) {
                        a:after {
                            left: auto;
                            right: -18.5px;
                        }
                    }
                }
            }
        }
        .event-p {
            padding: 24px 30px;
            font-size: 12px;
            font-family: $second-font-family;
            text-transform: uppercase;
            @media(max-width: 767px) {
                padding: 20px 30px;
            }
            a {
                color: #999;
                transition: color .3s ease;
                &.active {
                   color: #003a7b;
                }
            }
        }
        .text-left {
            text-align: left;
        }
        .text-right {
            text-align: right;
            border-right: 3px solid rgb(240, 243, 248);
        }
        .e-last,
        .e-next {
            position: relative;
            a {
                @include p_el(after, 34px, 42px) {
                    @include position(absolute, 0 null 0 null);
                    margin: auto;
                    background-image: url($imgPathCss+'/event-last.svg');
                    background-size: 34px 42px;
                    background-position: right center;
                    background-origin: border-box;
                    background-repeat: no-repeat;
                }
            }

        }
        .e-next {
            a:after {
                background-image: url($imgPathCss+'/event-next.svg');
            }
        }
    }
    .event-img {
        margin-bottom: 20px;
    }
    .event-h1 {
        font-size: rem(12);
        font-family: $second-font-family;
        color: rgb(126, 126, 126);
        text-transform: uppercase;
        text-align: center;
    }
    .event-h2 {
        padding: 5px 0;
        color: rgb(31, 30, 30);
        font-size: rem(30);
        font-family: $second-font-family;
        color: rgb(0, 58, 123);
        font-weight: bold;
        text-align: center;
    }
    .event-p {
        font-size: rem(14);
        font-family: $second-font-family;
        color: rgba(101, 101, 101, 0.761);
        text-align: center;
    }
    .start-now {
        padding: 20px 0 0;
        a {
            font-size: rem(14);
        }
    }
}

.partners {
    z-index: 0;
    position: relative;
    background-color: rgb(247, 249, 251);
    &-content {
        position: relative;
        z-index: 1;
        margin: auto 0;
        padding: 50px 15px;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        @include p_el(both, 40px, null) {
            @include position(absolute, 0 null 0 0);
            background: linear-gradient(to right, rgba(#f7f9fb, 1) 0%, rgba(#f7f9fb, 0) 100%);
            z-index: 1;
        }
        &:after {
            left: auto;
            right: 0;
            background: linear-gradient(to right, rgba(#f7f9fb, 0) 0%, rgba(#f7f9fb, 1) 100%);
        }
        span {
            position: relative;
            display: inline-block;
            vertical-align: top;
            text-align: center;
            margin: 0 -4px 0 0;
            padding: 0;
            width: 200px;
            height: 100px;
            background-position: center center;
            background-repeat: no-repeat;
            animation: run 20s linear infinite;
        }
        .partner-1 {
            background-image: url($imgPathCss+'/partner-unique-1.png');
        }
        .partner-2 {
            background-image: url($imgPathCss+'/partner-unique-2.png');
        }
        .partner-3 {
            background-image: url($imgPathCss+'/partner-mountain.png');
        }
        .partner-4 {
            background-image: url($imgPathCss+'/partner-unique-3.png');
        }
        .partner-5 {
            background-image: url($imgPathCss+'/partner-strong.png');
        }
        .partner-6 {
            background-image: url($imgPathCss+'/partner-special.png');
        }
    }
}

@keyframes run {
    0% {
        left: 0;
    }
    100% {
        left: -1200px;
    }
}
