// -----------------------------------------------------------------------------
// Home page
// -----------------------------------------------------------------------------

/* Website :: Home page
   ========================================================================== */
.home-slider{
  position: relative;
  margin: 0 auto;
  z-index:1;
    &:before {
        content: '';
        @include position(absolute, 0);
        background-image: url(/img/slider-1.png);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        z-index:0;
    }
    &-container {
        position: relative;
        padding-top: 120px;
        height: 100vh;
        z-index: 2;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

$hexagon-bg: rgba(7, 14, 25, .369);
.hexagon {
    width: 580px;
    height: 680px;
	margin: auto;
	margin-top: -50px;
    overflow: hidden;
    visibility: hidden;
    transform: rotate(120deg);
    
    .hex-l2 {
        overflow: hidden;
        width: 100%;
        height: 100%;
        transform: rotate(-60deg);

        .hex-text {
            width: 100%;
            height: 100%;
            display:flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            visibility: visible;
            transform: rotate(-60deg);
            background-color: $hexagon-bg;
            padding-top: 70px;
            
            .h1{
                font-size: 14px;
                font-family: "Montserrat";
                color: rgb(0, 133, 189);
                text-transform: uppercase;
                line-height: 5;
                text-align: center;
                }
           
            .h2{
                font-size: 90px;
                font-family: "Montserrat SemiBold";
                color: rgb(251, 251, 251);
                text-align: center;
            }

            .h3{
                font-size: 24px;
                font-family: "Montserrat light";
                color: rgb(251, 251, 251);
                text-align: center;
            }

            .start-now {
                height: 170px;
            }

        }

        .bg-img {
            background-image: url(/img/slider-1.png);
        }
    }
}

.features {
    background-color: rgb(240, 243, 248);

    .prem {
        background-image: url(/img/feature-1.svg);
    }
    .prof {
        background-image: url(/img/feature-2.svg);
    }
    .inn {
        background-image: url(/img/feature-3.svg);
    }

    .card {
        z-index: 1;
        position: relative;
        top: -60px;
        margin: 8px;
        display:inline-block;
        background-color: rgb(255, 255, 255);
        width: 360px;
        height: 344px;
        overflow: hidden;
        background-position: center 30%;
        background-repeat: no-repeat;
        background-size: 66px 58px;


        .h1 {
            z-index: 1;
            color: rgb(31, 30, 30);
            font-size: 24px;
            font-family: "Montserrat";
            text-align: center;
            padding-top: 50%;
        }

        p {
            position: absolute;
            z-index: 1;
            padding: 5px 20px;
            color: rgb(31, 30, 30);
            font-size: 15px;
            font-family: "Open Sans";
            text-align: center;   
        }

        .num {
            //z-index: 1;
            color: rgb(246, 248, 251);
            font-size: 152px;
            font-family: "Open Sans Extrabold";
            position: absolute;
            top: 53%;
            left: -30px;
            width: 200px;
            height: 200px; 
        }
    }
}

.maingoal {
    background-color: rgb(240, 243, 248);
    background-image: url(/img/maingoal.png);
    background-repeat: no-repeat;

    .photo {
        display: inline-block;
        vertical-align:top;
        width: 50%;
        height: 750px;
        margin-bottom: 8%;
    }

    .text {
        display: inline-block;
        vertical-align:top;
        width: 45%;
        @media(max-width:$screen-md-min) {
            width: 100%;
        }
        padding: 11% 4%;
    }
}

.whomakes {
    background-color: rgb(255, 255, 255);
    background-image: url(/img/whomakes.png);
    background-repeat: no-repeat;
    background-size: 50%;
    text-align: left;
    @media(max-width:$screen-md-min) {
        background-size: auto;
        text-align: center;
    }

    .photo {
        display: inline-block;
        vertical-align:top;
        width: 50%;
        height: 100px;
    }

    .text {
        display: inline-block;
        vertical-align:top;
        width: 48%;
        padding-top: 5%;
        @media(max-width:$screen-md-min) {
            width: 100%;
        }
    }
    .row {
        width: 100%;
        height: auto;
        vertical-align:bottom;
        border-width: 1px 0 0 0;
        border-color: rgb(243, 243, 243);
        border-style: solid;
        a {
            width: 50%;
            height: 68px;
            display:flex;
            float: right;
            justify-content: center;
            align-items: center;
            color: rgb(126, 126, 126);
            font-size: 14px;
            font-family: "Montserrat";
            text-transform: uppercase;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;

            &:hover {
                color: rgb(0, 133, 189);
            }
        }
    }
}

.signup {
    background-attachment: fixed;
    background-image: url(/img/bodybg.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    z-index:0;
    position: relative;
    &:before {
        content:'';
        @include position(absolute, 0);
        background-color: rgba(4, 25, 49, .82);
    }
    &-content {
        position: relative;
        z-index:1;
        text-align: center;
    }

    .text {
        display: inline-block;
        vertical-align:top;
        width: 40%;
        padding: 5% 0;
        @media(max-width:$screen-md-min) {
            width: 100%;
        }

        .main-h2 {
            font-size: 36px;
            font-family: "Montserrat SemiBold";
            color: rgb(251, 251, 251);
            text-align: left;
            @media(max-width:$screen-md-min) {
                text-align: center;
            }
            padding: 0px 0px;
        }
        .main-p {
            color: rgb(194, 194, 194);
            text-align: left;
            padding: 10px 0px;
            @media(max-width:$screen-md-min) {
                text-align: center;
                padding: 10px 5%;
            }
        }

    }

    .start-now {
        width: auto;
        padding: 7% 4%;
        vertical-align:top;
        display: inline-block;
        @media(max-width:$screen-md-min) {
            padding: 2% auto;
        }
    }
    
}

.events {
    position: relative;
    background-color: rgb(255, 255, 255);
    padding: 100px 0;
    &-content {
        position: relative;
        margin: 0 auto;
        text-align: center;
    }
    @media(max-width:$screen-md-min) {
        width: 100%;
        padding: 50px 0;
    }

    $schedule-meet-bg:rgb(240, 243, 248);
    .schedule-meet {
        position: relative;
        display: inline-block;
        vertical-align:top;
        text-align: center;
        margin-left: 10%;
        width: 35%;
        background-color: $schedule-meet-bg;
        background-image: url(/img/events.png);
        background-position: center 10%;
        background-size: 67px 78px; 
        background-repeat: no-repeat;
        
        @media(max-width:$screen-md-min) {
            width: 100%;
            margin-left: 0;
        }
        &:after {
            content: ''; 
            position: absolute;
            top: 48%;
            right: -20px;
            border: 10px solid transparent;
            border-left: 10px solid $schedule-meet-bg;
        }

    }

    .schedule-plan {
        display: inline-block;
        vertical-align:top;
        margin-right: 10%;
        width: 40%;
        @media(max-width:$screen-md-min) {
            width: 100%;
            margin-right: 0;
        }
        div {
            width: 100%;
            height: 80px;
            display: block;
            padding: 0 0;
            margin: 0 0;
            div {
                vertical-align:top;
                margin: 0 0;
                width: 49%;
                height: 100%;
                display: inline-block;
            }
        }
        .event-p {
            padding: 20px 30px;
            font-size: 12px;
            font-family: "Montserrat";
            color: rgb(126, 126, 126);
            text-transform: uppercase;
       }
        .text-left {
            text-align: left;
        }
        .text-right {
            text-align: right;
            border-right: 3px solid rgb(240, 243, 248);
        }

        .e-last, .e-next {
            position: relative;
            &:after {
                content: ''; 
                position:absolute;
                width: 34px;
                height: 42px;
                right: -17.5px;
                top:0;
                bottom: 0;
                margin:auto;
                background-image: url(/img/event-last.svg);
                background-size: 34px 42px;
                background-position: right center;
                background-origin: border-box;
                background-repeat: no-repeat;
            }
           
        }
        .e-next {
            &:after {
                background-image: url(/img/event-next.svg);
            }
        }
    }

    .event-h1 {
        padding-top: 30%;
        font-size: 12px;
        font-family: "Montserrat";
        color: rgb(126, 126, 126);
        text-transform: uppercase;
        text-align: center;
    }
    
    .event-h2 {
        padding: 5px 0;
        color: rgb(31, 30, 30);
        font-size: 30px;
        font-family: "Montserrat";
        color: rgb(0, 58, 123);
        font-weight: bold;
        text-align: center;
    }
    
    .event-p {
        font-size: 15px;
        font-family: "Montserrat Light";
        color: rgba(101, 101, 101, 0.761);
        text-align: center;
    }

    .start-now {
        width: auto;
        padding: 7% 4%;
        vertical-align:top;
        display: inline-block;
        @media(max-width:$screen-md-min) {
            padding: 2% auto;
        }
        a {
            width: 226px;
            height: 52px;
      		font-size: 14px;
        }
    }
    
}

.partners {
    z-index:0;
    position: relative;
    background-color: rgb(247, 249, 251);

    &-content {
        position: relative;
        z-index:1;
        margin: auto 0;
        padding: 3%;
        text-align: center;
        a {
            position: relative;
            display: inline-block;
            vertical-align:top;
            text-align: center;
            margin: 0;
            padding: 0;
            width: 200px;
            height: 100px;
            background-position: center; 
            opacity: 0.4;
            background-repeat: no-repeat;
            &:hover {
                cursor: pointer;
                opacity: 0.8;
            }
        }
        .partner-1 {
            background-image: url(/img/partner-unique-1.png);
        }
        .partner-2 {
            background-image: url(/img/partner-unique-2.png);
        }
        .partner-3 {
            background-image: url(/img/partner-mountain.png);
        }
        .partner-4 {
            background-image: url(/img/partner-unique-3.png);
        }
        .partner-5 {
            background-image: url(/img/partner-strong.png);
        }
        .partner-6 {
            background-image: url(/img/partner-special.png);
        }
            
    }
}
