// -----------------------------------------------------------------------------
// Footer
// -----------------------------------------------------------------------------

/* Website :: Footer
   ========================================================================== */
.footer {
    padding-bottom: 40px;
    a {
        display: block;
        padding: 4px 0px;
        text-decoration: none;
    }
    .social {
        a {
            font-size: 18px;
            padding: 0px 8px;
            display: inline-block;
            text-decoration: none;
        }
        .g-plus {
            color: rgb(0, 133, 189);
        }
    }
    .form {
        position: relative;
        input {
            position: absolute;
            top:0;
            width: 298px;
            height: 50px;
            padding: 0px 20px;
            display: block;
            border-radius:25px;
            border-width: 0;
            background-color: rgba(255, 255, 255, .09);
            font-size: 14px;
            font-family: $second-font-family;
            color: rgb(161, 161, 161);
            text-align: left;
        }
        .send {
            right: 45px;
            width: 95px;
            background-color: rgb(0, 58, 123);
            font-size: 12px;
            font-family: $second-font-family;
            font-weight: bold;
            letter-spacing: 2px;
            color: rgb(255, 255, 255);
            text-align: center;
   		    text-transform: uppercase;
        }
    }
}