// -----------------------------------------------------------------------------
// Header website
// -----------------------------------------------------------------------------

/* Website :: Header
========================================================================== */

.header {
	@include position(fixed, 0 0 null 0);
	z-index: 10;
	padding: 17px 0px;
	background-color: rgba(18, 29, 43, 0.95);
	@media(max-width:$screen-md) {
		text-align: center;
	}
	@media(max-width:767px) {
		position: absolute;
	}
}

.home {
    &-scroll {
        background-color: transparent;
        transition: background .3s ease;
        @media(max-width: 767px) {
        	background-color: #121d2b;
        }
        &-active {
            background-color: #121d2b;
        }
    }
}

.nav__toggle {
	float:right;
	background-color: transparent;
	border:0;
	font-size: 30px;
	line-height: 53px;
	height: 53px;
	@media(max-width: 479px) {
		font-size: 25px;
	}
	&:focus {
		outline: 0;
	}
}

@media(min-width:$screen-md-min) {
	.nav__toggle {
		display: none;
	}
	.collapse {
		display:block;
		height: auto !important;
	}
}

.nav__menu {
	text-align: right;
	padding-top: 5px;
	white-space: nowrap;
	@media(max-width:$screen-md) {
		text-align: center;
		white-space: normal;
		@include position(absolute, 100% 0 null null);
		background-color: rgba(7, 14, 25, .8);
		width: 200px;
		margin-top: 17px;
		padding: 7px 5px;
	}
	@media(max-width:479px) {
		width: auto;
		left:-100%;
	}
	li {
		display:inline-block;
		vertical-align:top;
		@media(max-width:$screen-md) {
			display:block;
			width: 100%;
		}

		a, button {
			display:block;
			background: none;
			border:0;
			border-radius: 25px;
			padding: 12px 20px;
			font-family:$second-font-family;
			font-weight: 300;
			font-size: 15px;
			text-decoration: none;
			transition: background .3s ease;

			&:hover, &:focus {
				background-color: #00336b;
			}

			@media(max-width: $screen-lg) {
				font-size: 13px;
			}
			@media(max-width: 992px) {
				padding: 10px 14px;
			}
		}
		&.login {
			a {
				font-size: 12px;
				padding: 14px 24px;
				text-transform: uppercase;
				font-weight: 400;
				background-color: #003a7b;
				&:hover, &:focus {
					background-color: #023063;
				}
				@media(max-width: $container-lg) {
					font-size: 11px;
				}
			}
		}
		&.has-submenu {
			> a {
				margin-bottom: 5px;
			}
			&:hover {
				> a {
					background-color: #00336b;
				}
			}
		}
	}
}

.has-submenu {
	position: relative;
}
.has-submenu:hover > a {
background: transparent !important;
color: #c2c2c2 !important;
}
.submenu{
	display: none;
	border-radius: 5px;
	@include position(absolute, 100% null null -50%);
  width: 160px;
	background-color: rgb(0, 58, 123);
	padding: 5px 10px;
	margin: 0;
	@media(max-width: 992px) {
		width: 100%;
		position: relative;
		top:auto;
		left: auto;
		display: block;
		background-color: rgba(0, 58, 123, .4);
	}
	li {
		display:block;
		text-align: center;
		display:flex;
		justify-content: center;
		flex-direction: column;
		align-items: left;
		width: 100%;
		height: 48px;
		margin: 0 0;
		@media(max-width: 992px) {
			height: auto;
		}
		a {
			border-radius: 25px;
			width: 100%;
			&:hover, &:focus {
				background-color: rgb(2, 48, 99);
			}

		}
	}
}
.has-submenu {
	&:hover .submenu{
		display: block;
	}
}
