// -----------------------------------------------------------------------------
// Header website
// -----------------------------------------------------------------------------

/* Website :: Header
   ========================================================================== */

.header{
  position: fixed;
  z-index: 10;
  top:0;
  left:0;
  right:0;
  padding: 60px 0px;
}

@media(min-width:$screen-md-min) {
  .nav__toggle {
    display: none;
  }
  .collapse {
    display:block;
    height: auto !important;
  }
}

.nav__menu {
  text-align: right;
  @media(max-width:$screen-md) {
    text-align: center;
  }
  li {
    display:inline-block;
    vertical-align:top;
    @media(max-width:$screen-md) {
      display:block;
      width: 100%;
    }
    a {
      display:block;
      padding: 12px 14px;
      font-family:"Montserrat light";
      font-size:16px;
      text-decoration: none;
    }
    &.login {
      a {
        display:block;
        padding: 14px 24px;
        font-family:"Montserrat";
        font-size:12px;
      }
      
      background-color: #003a7b;
      border: 0px;
      border-radius: 25px;
      text-transform: uppercase;
    }
  }
}
.submenu{
  display: none;
}

.logo {
  display:inline-block;
  @media(max-width:$screen-md) {
    display:block;
  }
	background-image: url(/img/logo.png);
  height: 53px;
  width: 236px;
}


/*.avatar {
	@include sprite(logo);
}
*/

